<div class="row">
<div class="col-lg-5">
<p>
  <strong>お名前:</strong>
  <%= @user.name %>さん
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email_address %>
</p>

<p>
  <strong>画像:</strong>
</p>
  <%= image_tag @user.icon %>
<br>
<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '戻る', events_path %>
<p>
<%= link_to '退会する', @user, method: :delete, data: { confirm: '本当に退会しますか？' }, class: 'btn btn-danger'  %>
</p>
</div>
<div class="col-lg-7">
    <h3>参加イベント一覧</h3>
    <% @user.participant_events.reverse_each do |user| %>
    <% if user.event_at >= DateTime.now.to_time %>
    <table class="list-group-item">
      <div class="col-xs-12 col-md-12 blog-panel2">
      <tr>  
        <td><%= user.event_at.to_s(:date) %></td>
      </tr>
      <tr>
        <td><%= user.event_at.to_s(:time) %></td>
      </tr>
      <tr>
        <td><h1><%= user.title %></h1></td>
      </tr>
      <tr>  
        <td><%= user.place %></td>
      </tr>
      </div>
    </table>
    <% end %>
    <% end %>
</div>


